body {
    padding: 100px;
    background-color: #333333;
    text-align: center;
}

.date {
    text-align: center;
    font-size: 16px;
    border-color: whitesmoke;
    border: 1px solid whitesmoke;
}

.button {
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.2s;
    cursor: pointer;
    border-radius: 4px;
    border-color: whitesmoke;
    border: 0px solid whitesmoke;
}

.button1 {
    background-color: #333333;
    color: whitesmoke;
}

.button:hover {
    background-color: whitesmoke;
    color: #333333;
}



.questbutton {
    padding: 10px 20px;
    text-align: center;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border: 0px;
    text-decoration: underline;
}

.questbutton1 {
    background-color: #333333;
    color: #999999;
}

.questbutton:hover {
    color: whitesmoke;
}



.savebutton {
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.2s;
    cursor: pointer;
    border-radius: 4px;
    border-color: whitesmoke;
    border: 1px solid whitesmoke;
}

.savebutton1 {
    background-color: #333333;
    color: whitesmoke;
}

.savebutton:hover {
    background-color: whitesmoke;
    color: #333333;
}



.listbutton {
    padding: 10px 20px;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.2s;
    cursor: pointer;
    border-radius: 4px;
    border: 0px solid whitesmoke;
}

.listbutton1 {
    background-color: #333333;
    color: whitesmoke;
}

.listbutton:hover {
    background-color: whitesmoke;
    color: #333333;
}



.deletebutton {
    padding: 10px 20px;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.2s;
    cursor: pointer;
    border-radius: 4px;
    border: 0px
}

.deletebutton1 {
    background-color: #333333;
    color: rgb(180, 0, 0);
}

.deletebutton:hover {
    background-color: rgb(180, 0, 0);
    color: whitesmoke;
}


.logout-container {
    display: flex;
    justify-content: flex-end;
}

.logoutbutton {
    text-align: right;
    font-size: 16px;
    transition-duration: 0.2s;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid whitesmoke;
    font-family: sans-serif;
    font-weight: bold;
    background-color: #333333;
    color: whitesmoke;
}

.logoutbutton1 {
    background-color: #333333;
    color: whitesmoke;
}

.logoutbutton:hover {
    background-color: whitesmoke;
    color: #333333;
}





div {
    padding: 5px;
}

input[type=text] {
    max-width: 340px;
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid whitesmoke;
    background-color: #333333;
    color: whitesmoke;
}

input[type=password] {
    max-width: 340px;
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid whitesmoke;
    background-color: #333333;
    color: whitesmoke;
}

input[type=email] {
    max-width: 340px;
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid whitesmoke;
    background-color: #333333;
    color: whitesmoke;
}

input[type=date] {
    max-height: 41px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid whitesmoke;
    background-color: #333333;
    color: whitesmoke;
}

h1 {
    font-family: sans-serif;
    color: whitesmoke;
    font-size: 40px;
}

h2 {
    font-family: sans-serif;
    color: whitesmoke;
    font-size: 25px;
}

h5 {
    font-family: sans-serif;
    color: whitesmoke;
    font-size: 15px;
}

span {
    font-family: sans-serif;
    color: whitesmoke;
    font-size: 15px;
}


li {
    align-items: center;
    max-width: 850px;
    border-bottom: 1px solid whitesmoke;
    list-style-type: none;
}

ul {
    max-width: 860px;
    list-style-type: none;
    margin: auto;
}

.todo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.table-container {
    margin: 0 auto;
    width: fit-content;
}

th {
    padding-left: 50px;
    padding-right: 50px;
}

td {
    text-align: center;
    align-items: center;
}

th {
    font-family: sans-serif;
    color: whitesmoke;
    font-size: 15px;
}


.header {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Center the containers horizontally */
}

.headerlanguagename {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Center the containers horizontally */
}

.arrow-container {
    margin-right: 0;
    /* Adjust the space between the arrow and h1 */
}

.title-container {
    max-width: 500px;
    padding-right: 30px;
    flex-grow: 1;
    /* Allow the title container to grow and occupy remaining space */
    text-align: center;
    /* Center the text within the title container */
}

.username {
    text-align: right;
    margin: 5px;
    padding-right: 4px;
}








.gg-arrow-left-o {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    border: 3px solid;
    transform: scale(var(--ggs, 1));
    border-radius: 30px;
    color: whitesmoke;
    background-color: #333333;
    cursor: pointer;
}

.gg-arrow-left-o::after,
.gg-arrow-left-o::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    left: 8px;
}

.gg-arrow-left-o::after {
    width: 8px;
    height: 8px;
    border-bottom: 2px solid;
    border-left: 2px solid;
    transform: rotate(45deg);
    bottom: 8px;
}

.gg-arrow-left-o::before {
    width: 10px;
    height: 2.5px;
    bottom: 11px;
    background: currentColor
}

.gg-arrow-left-o:hover {
    background-color: #444444;
    /* Change to the desired color when hovered */
}














/* Customize the label (the container) */
.container {
    position: relative;
    padding-left: 27px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #333333;
    border-radius: 4px;
    border: 1px solid whitesmoke;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
    background-color: #444444;
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
    background-color: whitesmoke;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #333333;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}



#languageForm * {
    display: flex;
    border-radius: 15px;
    background-color: #333333;
    color: whitesmoke;
}

#languageForm:hover * {
    border-radius: 15px;
    background-color: #444444;
    color: whitesmoke;
}