<!-- login.html -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />
</head>

<body>
<!-- language select dropdown -->
    <div class="dropdowndiv">
        <form id="languageForm">
            <select id="languageSelect" onchange="changeLanguage(this.value)">
                <h5>Language</h5>
                <option value="en">English</option>
                <option value="fi">Finnish</option>
                <option value="es">Spanish</option>
            </select>
        </form>
    </div>

    <!-- header -->
    <h1 th:text="#{login.page.title}"></h1>

    <!-- invalid user -->
    <div th:if="${param.error}">
        <h2 th:text="#{lang.invaliduser}"></h2>
    </div>

    <!-- logged out text -->
    <div th:if="${param.logout}">
        <h2 th:text="#{lang.loggedout}"></h2>
    </div>

    <!-- login form and button "Register", "Sign in", "Continue as quest" -->
    <form id="loginForm" th:action="@{/login}" th:lang="${#locale.language}" method="post">
        <div><label><input type="text" name="username" id="username" th:placeholder="#{lang.username}" /></label></div>
        <div><label><input type="password" name="password" id="password" th:placeholder="#{lang.password}" /></label>
        </div>
        <div>
            <a th:href="@{/register(lang=${#locale.language})}">
                <button class="button button1" type="button" th:text="#{lang.register}"></button>
            </a>

            <button class="button button1" type="submit" th:text="#{lang.sign.in}"></button>

            <div>
                <button class="questbutton questbutton1" type="button" onclick="continueAsGuest()" th:text="#{lang.quest}"></button>
            </div>
        </div>
    </form>


    <script type="text/javascript">
        // Function to diplay the selected language in the dropdown menu.
        window.onload = function () {
            var lang = getParameterByName('lang') || 'en'; // Default to English if no language parameter is provided
            document.getElementById('languageSelect').value = lang;
        };

        // Function to update the selected language and reload the page
        function changeLanguage(lang) {
            var currentUrl = window.location.href;
            var baseUrl = currentUrl.split('?')[0];
            window.location.href = baseUrl + '?lang=' + lang;
        }

        // Function to continue as a guest
        function continueAsGuest() {
            document.getElementById('username').value = 'quest';
            document.getElementById('password').value = 'quest';
            document.getElementById('loginForm').submit();
        }

        // Function to retrieve query parameters by name
        function getParameterByName(name) {
            var urlParams = new URLSearchParams(window.location.search);
            return urlParams.get(name);
        }
    </script>
</body>
</html>