<!-- selectedtodo.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <title th:text="${todo.name}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

    <!-- language select dropdown and username -->
    <div class="headerlanguagename">
        <div class="dropdowndiv">
            <form id="languageForm">
                <select id="languageSelect" onchange="changeLanguage(this.value)">
                    <h5>Language</h5>
                    <option value="en">English</option>
                    <option value="fi">Finnish</option>
                    <option value="es">Spanish</option>
                </select>
            </form>
        </div>
        <div class="user-dropdown-container">
            <h5 class="username" th:text="${username}"></h5>
        </div>
    </div>

    <!-- Logout button -->
    <div class="logout-container">
        <button class="logoutbutton" onclick="window.location.href='/logout';" th:text="#{lang.logout}"></button>
    </div>

    <!-- header and return button -->
    <div class="header">
        <button class="gg-arrow-left-o" onclick="window.location.href='/todolist';"></button>
        <h1 class="title-container" th:text="${todo.name}"></h1>
    </div>

    <!-- create new tasks form -->
    <form th:object="${todoItem}" th:action="@{'/saveitem/' + ${todo.id}}" method="post">

        <!-- Hidden input field to store the ID of the selected todo list -->
        <input type="hidden" name="todoId" th:value="${todo.id}" />

        <input sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')" class="textfield" type="text" id="title"
            name="title" th:placeholder="#{lang.task}" required />

        <input sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')" class="date" type="date" id="deadline"
            name="deadline" required />

        <button sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')" class="savebutton savebutton1" type="submit"
            value="Save item" th:text="#{lang.save}"></button>
    </form>

    <!-- list of to-do tasks -->
    <div th:if="${not #lists.isEmpty(todoItems)}">
        <h2 th:text="#{lang.todos}"></h2>
        <div class="table-container">
            <table>
                <tr>
                    <th th:text="#{lang.task}"></th>
                    <th th:text="#{lang.deadline}"></th>
                    <th th:text="#{lang.status}"></th>
                </tr>
                <tr th:each="todoItem : ${todoItems}">
                    <td><span th:text="${todoItem.title}"></span></td>
                    <td><span th:text="${#temporals.format(todoItem.deadline, 'MM/dd/yyyy')}"></span></td>
                    <td>
                        <label class="container">
                            <!-- Single checkbox for toggle (accessible to USER and ADMIN) -->
                            <input type="checkbox" th:id="'status_' + ${todoItem.id}" th:checked="${todoItem.status}"
                                th:onclick="'javascript:toggleStatus(' + ${todoItem.id} + ');'"
                                sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')" />
                            <!-- Display-only checkbox (for others) -->
                            <input type="checkbox" th:id="'status_' + ${todoItem.id}" disabled
                                th:checked="${todoItem.status}"
                                th:onclick="'javascript:toggleStatus(' + ${todoItem.id} + ');'"
                                sec:authorize="!hasAnyRole('ROLE_ADMIN', 'ROLE_USER')" />
                            <span class="checkmark"></span>
                        </label>
                    </td>
                    <td>
                        <button sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')" class="deletebutton deletebutton1"
                            th:onclick="'javascript:deleteItem(' + ${todoItem.id} + ');'">Delete</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <!-- In case of no to-to tasks print out #{lang.notodos} -->
    <div th:if="${#lists.isEmpty(todoItems)}">
        <h2 th:text="#{lang.notodos}"></h2>
    </div>


    <!-- Confirm the delete action -->
    <script th:inline="javascript">
        function deleteItem(todoItemId) {
            // Confirm if the user wants to delete todo item
            if (confirm('Are you sure you want to delete this task?')) {
                // Send AJAX request to delete todo item
                fetch('/deleteItem/' + todoItemId, {
                    method: 'DELETE',
                }).then(function (response) {
                    window.location.reload();
                }).catch(function (error) {
                    console.error('Failed to delete todo item:', error);
                });
            }
        }
    </script>

    <!-- Toggle the checkbox status -->
    <script th:inline="javascript">
        function toggleStatus(todoItemId) {
            var checkbox = document.getElementById('status_' + todoItemId);

            // Send AJAX request to update todo item status
            fetch('/toggleStatus/' + todoItemId, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ status: checkbox.checked }),
            }).then(function (response) {
            }).catch(function (error) {
                console.error('Failed to toggle status:', error);
            });
        }
    </script>


    <script type="text/javascript">
        // Function to diplay the selected language in the dropdown menu.
        window.onload = function () {
            var lang = getParameterByName('lang') || 'en'; // Default to English if no language parameter is provided
            document.getElementById('languageSelect').value = lang;
        };

        // Function to update the selected language and reload the page
        function changeLanguage(lang) {
            var currentUrl = window.location.href;
            var baseUrl = currentUrl.split('?')[0];
            window.location.href = baseUrl + '?lang=' + lang;
        }


        // Function to retrieve query parameters by name
        function getParameterByName(name) {
            var urlParams = new URLSearchParams(window.location.search);
            return urlParams.get(name);
        }
    </script>

</body>

</html>