<!-- todolist.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Todo Lists</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />

</head>

<body>
    <div class="headerlanguagename">
        <div class="dropdowndiv">
            <form id="languageForm">
                <select id="languageSelect" onchange="changeLanguage(this.value)">
                    <h5>Language</h5>
                    <option value="en">English</option>
                    <option value="fi">Finnish</option>
                    <option value="es">Spanish</option>
                </select>
            </form>
        </div>
        <div class="user-dropdown-container">
            <h5 class="username" th:text="${username}"></h5>
        </div>
    </div>
    <div class="logout-container">
        <button class="logoutbutton" onclick="window.location.href='/logout';" th:text="#{lang.logout}"></button>
    </div>


    <h1 th:text="#{lang.todolists}"></h1>
    <form th:object="${todo}" th:action="@{save}" action="#" method="post">
        <input type="text" id="name" name="name" th:placeholder="#{lang.listname}" required />
        <button class="savebutton savebutton1" type="submit" th:text="#{lang.save}"></button>
    </form>

    <div class="todolist-container" th:if="${not #lists.isEmpty(todos)}">
        <h2 th:text="#{lang.existinglists}">Existing Lists</h2>
        <ul>
            <li th:each="todo : ${todos}">
                <div class="todo-container">
                    <span th:text="${todo.name}"></span>
                    <div>
                        <a th:href="@{/open/{id}(id=${todo.id})}"><button class="listbutton listbutton1"
                                th:text="#{lang.open}"></button></a>
                        <button class="deletebutton deletebutton1"
                            th:onclick="'javascript:deleteList(' + ${todo.id} + ');'" th:text="#{lang.delete}"></button>
                    </div>
                </div>
            </li>

        </ul>
    </div>
    <div th:if="${#lists.isEmpty(todos)}">
        <h2 th:text="#{lang.nolists}"></h2>
    </div>

    <script th:inline="javascript">
        function deleteList(todoId) {
            if (confirm('Are you sure you want to delete this todo list?')) {
                // Send AJAX request to delete todo list
                fetch('/deleteList/' + todoId, {
                    method: 'DELETE',
                }).then(function (response) {
                    if (!response.ok) {
                        console.error('Failed to delete todo list');
                    } else {
                        // Reload the page after successful deletion
                        window.location.reload();
                    }
                }).catch(function (error) {
                    console.error('Failed to delete todo list:', error);
                });
            }
        }


        // Function to initialize the dropdown menu with the current language
        window.onload = function () {
            var lang = getParameterByName('lang') || 'en'; // Default to English if no language parameter is provided
            document.getElementById('languageSelect').value = lang;
        };

        // Function to update the selected language and reload the page
        // function changeLanguage(lang) {
        //     var currentUrl = window.location.href;
        //     var baseUrl = currentUrl.split('?')[0];
        //     window.location.href = baseUrl + '?lang=' + lang;
        // }

        function changeLanguage(lang) {
            var currentUrl = window.location.href;
            var baseUrl = currentUrl.split('?')[0];
            window.location.href = baseUrl + '?lang=' + lang;
            sessionStorage.setItem('selectedLanguage', lang); // Store selected language in session storage
        }


        // Function to retrieve query parameters by name
        function getParameterByName(name) {
            var urlParams = new URLSearchParams(window.location.search);
            return urlParams.get(name);
        }
    </script>
</body>

</html>